.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.75s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid white;
    border-top-color: green;    
    border-radius: 50px;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{transform: rotate(0turn);}
    to{transform: rotate(1turn);}

}


ul li ul li{
    display: none !important;
}
 
ul li:hover ul li{
    display: block !important;

}


.box {
    position: relative ;
    animation:textMove 1s linear;
    /* animation-delay: 5s; */
}

.box1{ 
    animation-delay: 0.3;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.box2{
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;


}

.box3{
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes textMove{
    from{
        /* opacity: 0; */
        visibility: hidden;
        transform: translateY(70px);
    }

    to{
        visibility: visible ;
        /* opacity: 1; */
        transform: translateY(0);

    }
}


.box::before{
    content: "";
     /* z-index: 1; */
    position: absolute;
    border-bottom: 1px solid white;
    top: 0;
    width: 90%;
    height: 100%;
    background-color: inherit;
    animation: 2s linear 2s forwards go;
}
@keyframes go {
    from{
        
        /* z-index: 1; */
        height: 100%;
    }
    to{
        /* z-index: -1; */
        height: 0;
    }
}
