$headerColor:#00b39b;
$primaryColor:#747474;
$fontFamily: Roboto,Arial,sans-serif;

$box1:#00ccb1;
$box2:#3d83df;
$box3:#1b2734;

$secondBackgrround:#e5faf8;

body{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: $primaryColor;
    font-family: $fontFamily;
    overflow-x: hidden;
    &::selection{
        background-color: $headerColor;
        color: white;
    }
}

.container{
    width: 80%;
    margin: 0 auto;

    @media (max-width:576px) {
   
        margin: 0 !important;
        // border: 1px solid;
    }
}

header{

    position: sticky;
    top: 0;
    z-index: 4;
    
    &::after{
        content: " ";
        z-index: -1;
        position: absolute;
        background: white;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media (max-width:576px) {
        width: 100vw;
        // border: 1px solid;
    }
    div{
        display: flex;
        align-items: center;
        @media (max-width:576px) {
            width: 100%;
          
            // border: 1px solid;
            flex-wrap: wrap;
        }   
        // margin-top: 30px;
        padding: 10px;
        
        .logo{
            font-weight: 400;
            flex-basis: 50%;
            padding-left: 100px;
            @media (max-width:576px) {
                padding: 0;
                flex-shrink: 1;            }
            &::selection{
                background-color: $headerColor;
                
            }
        }

       .hamburger{
        display: none;
       }

       nav{
        flex-basis: 50%;

        @media (max-width:576px) {
            
            padding-top: 30px;
        }
        .ul_nav{
            list-style: none;
        
            display: flex;
            justify-content:end;
            
            @media (max-width:576px) {
                width: 100%;
          
            }
            li{
                display: inline-block;
                padding: 0 10px;
                margin-left: 10px;

                // @media (max-width:576px) {
                   
                //     border: 1px solid;


                


                a{
                    text-decoration: none;
                    color: $primaryColor;
                    font-weight: 500;
                    &:hover{
                        color: $headerColor;
                    }
                }

                #About{
                    color: $headerColor !important;
                }
            }

            .special_li{
                // color: red;
                position: relative;

                ul{
                    li{
                        
                    }
                }

                .drop{
                    position: absolute;
                    margin-top: 1px;
                    // padding-top: 10px;
                    padding: 0;
                    width: auto;
                    box-shadow: 0 5px 10px 0 #d3cfc9;
                    min-width: 250px;
                    margin-left: -100px;
                    padding: 0;
                    // visibility: hidden;
                     z-index: 4;

                    &::before{
                        content: " ";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: white;
                        z-index: -1;
                    }

             
                    
                    // border: 1px solid;

                    li{
                     width: 100%;
                     border: 1px transparent;
                     padding: 0 !important;
                     z-index: 4;

                     margin: 0;
                    //   padding: 10px 0 !important;
                         a{
                            display: inline-block;
                            padding: 5px 5px !important;
                            line-height: 120%;
                             z-index: 4;

                            width: calc(100% - 10px);
                            // text-align: center;
                            
                             border: 1px transparent;
                             &:hover{
                                background:rgb(236, 234, 234);
                             }
                         }

                    // border: 1px solid;

                    }
                }

            }

        }
       }
    }
}


.show{
   visibility: visible !important;
}

#sect_1{

    @media (max-width:576px) {
        width: 100vw;
        // border: 1px solid;
    }
    div{
        margin-top:2rem;
        text-align: center;
        @media (max-width:576px) {
           width: 100%;
        //    margin: 0 auto;
        //    border: 1px solid;
        }
    h1{
        font-weight: 300;
        color: $headerColor;
        font-size: calc(50px - 1em) ;

        @media (max-width:576px) {
            width: 90%;
            margin: 0 auto;
            font-size: 25px;
            font-weight: lighter;
            // border: 1px solid;
        }

    }
    .sect_1_p{
        display: flex;
        line-height: 1.9;

        //grid-template-columns: auto auto;
        // margin: 0 auto;
        // border: 1px solid;   
    
        justify-content: center;

        

        @media (max-width:576px) {
            display: grid;
            width: 100vw;
            height: auto;
            
        }
        
        p{
            // width: 50%;
            padding: 10px;
            
            width: calc( 500px - 1em);
            
            // margin: 0 auto;
            // margin-right: 0 !important;
            text-align: justify;
            @media (max-width:576px) {
                width: 90%;
                margin: 0 auto;
                padding: 10px;
                text-align: justify;
            }

        }
    }
}
}

#box_container{

    margin-top: 70px;

    margin-bottom: 75px;
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        width: max-content;
        margin: 0 auto;

        @media (max-width:576px) {
            width: 100vw;
            display: flex ;
            flex-direction: column;
           
        }
        .box{
            width: 300px;
            margin-left: 15px;
            padding: 20px;
            border-radius: 10px;
            color: white;
            @media (max-width:576px) {
                width: auto;
                margin: 15px;
            }
            h3{
                font-size: 26px;
                font-weight: 300;
            }
            p{
                font-size: 1.5em;
                font-weight: 300;
                line-height: 1.2;
            }

            select{
                border: none;
                border-bottom:3px solid white;
                background-color: inherit;
                color: white;
                font-size: 20px;
                outline: none;
                font-family: inherit;
                // width: 30px;

                option{
                    color: $primaryColor;
                }
            }
        }

        .box1{
            background-color: $box1;
        }
        .box2{
            background-color: $box2;
            .box2-div_se{
                margin-top: 50px;
            }
        }
        .box3{
            background-color: $box3;
            .box_select1{
                margin-bottom: 20px;
            }
        }
    }
}

#companies{
  
    @media (max-width:576px) {
        width: 100vw;
    //   border: 1px solid;
    }



    
    .flex-container{
        display: flex;
        width: auto;
       
        align-items: center;
        justify-content: center;

        @media (max-width:576px) {
            flex-direction: column;
            // width: 100%;
            // border: 1px solid;
            margin: 0 auto;

        }

        .words{
            color: $headerColor;
            padding-right: 20px;
            font-size: 25px;
            font-weight: 300;

            @media (max-width:576px) {
               text-align: center;
            //    width: 100%;
            //    border: 1px solid;
            }
        }

        .company_grid{
          display: grid;
          grid-template-columns: auto auto auto auto;
          align-items: center;
          justify-content: center;

          @media (max-width:576px) {
          grid-template-columns: auto auto auto;
          width: auto;
          margin: 0 auto;
        }
          .grid_elements{
            padding: 5px 10px;
            @media (max-width:576px) {
                width: 80px;
            }
          }

        }
    }
} 





#section_4{
    background: $secondBackgrround;
    margin-top: 30px;
    @media (max-width:576px) {
        width: 100vw;
    }

    .main-container{
        display: flex;
        padding: 20px 10px;
        width: max-content;
        // border: 1px solid;
        margin: 0 auto;
        @media (max-width:576px) {
            flex-direction: column;
            width: 100%;
        }
        .left{
            width: auto;
            @media (max-width:576px) {
                text-align: center;
                width: 95%;
            }
            h1{
                font-size: 40px;
                font-weight: 300;
                color: $headerColor;
                max-width:400px;

                @media (max-width:576px) {
                    font-size: 30px;
                }
          }
            p{
                max-width: 450px;
            }
        }

        .right{
            display: grid;
            grid-template-columns: auto auto;
            // gap: 10px;
            @media (max-width:576px) {
                display: flex;
                flex-direction: column;
            }
            
            div{
                // border: 1px solid;
                width: 230px;
            //    background: white;
                padding: 10px;
                text-align: center;
                height: auto;

                @media (max-width:576px) {
                    width: 85vw;
                    margin: 0 auto;
                }
                h3{
                    color: $headerColor;
                    font-weight: 300;
                    word-wrap: break-word;
                    margin: 0 auto;
                    // border: 1px solid;
                    width: 150px;
                }
                
            }
            
            .top{
                // border: 1px solid;
                padding-top: 50px;
                @media (max-width:576px) {
                    margin: 0;
                }
                .top_elements{
                    // border: 1px solid;
                    
                    height: 200px;
                    margin-top: 10px;
                    border-radius: 10px;
                    // box-shadow: 5px 5px 5px;
                    background-color: white;
                    @media (max-width:576px) {
                        margin-top: 0;
                    }
                }
            }

            .bottom{
                // border: 1px solid; 
                 margin-left:10px;
                text-align: center;

                @media (max-width:576px) {
                    margin: 0;
                }
                
                .solution2{
                    //  border: 1px solid;
                    margin-top: 10px;
                    border-radius: 10px;
                    height: 200px;
                    // box-shadow: 5px 5px 5px;
                    background-color: white;

                    @media (max-width:576px) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    
}

#countries{
    margin-top: 40px;
    @media (max-width:576px) {
        width: 100vw;
    }
    .main_grid-container{
        width: 80vw;
        // border: 1px solid;
        margin: 0 auto;
        .grid-container{
            // border: 1px solid;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: auto auto auto;
            @media (max-width:576px) {
                grid-template-columns: auto;
            }

            .country-card{
                border: 1px solid $primaryColor;
                text-align: center;
                border-radius: 5px;
                // border-top-right-radius: 5px;
                // border-top-left-radius: 5px;
                width: 300px;
                transition: all 0.3s;
                &:hover{
                    box-shadow: 10px 10px 10px;
                    cursor: pointer;
                }

                .card-main{
                    // border: 1px solid;
                    object-fit: cover;
                    height: 300px;
                    width: 300px;
                    margin: 0;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;

                    img{
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                    }
                }
                .card-footer{
                    // border: 1px solid;
                    padding: 20px 5px;
                    width: calc(300px - 10px) ;
                    display: flex;
                    justify-content: space-between;

                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    span{
                        font-size: 20px;
                    }
                    button{
                        background: $box2;
                        color: white;
                        border: 0;
                        font-size: 11px;
                        border-radius: 5px;
                        transition: all 0.5s;

                        &:hover{
                            cursor: pointer;
                            background: #1453a6;
                        }
                    }
                }
            }
        }
    }
}


#finalSection{
    padding: 95px;
    @media (max-width:576px) {
        padding: 0;
        margin-bottom: 40px;

    }
    .final_words{
        text-align: center;
        h1{
            font-weight: 200;
            font-size: 30px;
            color: $headerColor;
            @media (max-width:576px) {
                max-width: 350px;
            }
        }
        button{
            background: $box2;
            color: white;
            border: 0;
            // font-size: 11px;
            border-radius: 5px;
            font-weight: bold;
            padding: 15px;
            transition: all 0.5s;

            &:hover{
                cursor: pointer;
                background: #1453a6;
            }
        }
    }
}

footer{
    text-align: center;
    line-height: 1.5;
    padding-top: 30px;
    @media (max-width:576px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    p{
        font-size: 13px;
        // width: 100vw;
    }
    a{
        text-decoration: none;
        color: $box2;
        &:hover{
            color: #1453a6;
            text-decoration: underline;
        }
    }
}